import type { Preview } from "@storybook/react-vite";

import "{{SCOPE}}/config-tailwind";

const preview: Preview = {
  parameters: {
    controls: {
      expanded: true,
    },
  },
};

export default preview;
